* {
    margin: 0;
    padding: 0;
    font-family: "Science Gothic";
    box-sizing: border-box;
}
body {
    background-color: rgb(170, 170, 170);
    color: rgb(56, 42, 104);
}
ul, section{
    margin-left: 5%;
    margin-bottom: 5%;
}
.code {
    background-color: rgb(66, 66, 66);
    display: inline-block;
    color: white;
    font-family: monospace;
    border-radius: 5%;
    padding: 0.7%;
    font-size: 1rem;
}

.space {
    width: 30%;
    height: 0.5rem;
    background-color: rgb(56, 42, 104);
    margin: 1rem 0;
}